<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <h1>Markdown Webhook with Typescript</h!>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <hr>
      <div>
        <i><a href="https://github.com/adnanlah/dropbox-mdwebhook-ts">Github</a></i>
      </div>
    </footer>
  </body>
</html>